div.main-container {
	margin-left: 1%;
	margin-right: 1%;
}

div > * {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: auto;
	width: auto;
	margin-bottom: 1%;
}

button ~ button {
	margin-bottom: 1%;
}