<div class="main-text">
    <span class="mat-display-2">Welcome to Primorye</span><br>
    <span class="mat-subheading-2">
        Already a member? Go to
        <a routerLink="/seller/login">Login</a>
    </span>
</div>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Owner Name</mat-label>
        <input matInput type="text" name="ownName" formControlName="ownName" required>
        <mat-hint></mat-hint>
        <mat-error *ngIf="signupForm.get('ownName').invalid">Name required</mat-error>
    </mat-form-field>

    <div formGroupName="passwords">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" name="pass" formControlName="pass" required>
            <mat-error *ngIf="signupForm.get(['passwords', 'pass']).invalid">Invalid format</mat-error>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="passHelp"></div>

        <mat-form-field appearance="outline">
            <mat-label>Re-enter Password</mat-label>
            <input matInput [type]="hideReenter ? 'password' : 'text'" name="reenter" formControlName="reenter" required>
            <mat-error *ngIf="signupForm.get(['passwords', 'reenter']).invalid">Mismatched password</mat-error>
            <button mat-icon-button matSuffix (click)="hideReenter = !hideReenter" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideReenter">
                <mat-icon>{{hideReenter ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="text" name="phone" formControlName="phone">
        <mat-hint></mat-hint>
        <mat-error *ngIf="signupForm.get('phone').invalid">Only numerals</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email" required>
        <mat-hint></mat-hint>
        <mat-error *ngIf="signupForm.get('email').invalid">unlike lmn@pqr[.xyz]</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput type="text" [max]="maxDate" formControlName="dob" [matDatepicker]="dobPicker" required>
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
        <mat-error>Age limit 13</mat-error>
    </mat-form-field>

    <mat-radio-group name="sex" formControlName="sex">
        <label for="sex" id="sexLabel"><span class="mat-subheading-2">Sex</span></label>
        <mat-radio-button value="m">Male</mat-radio-button>
        <mat-radio-button value="f">Female</mat-radio-button>
        <mat-radio-button value="o">Other</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
        <mat-label>Business Name</mat-label>
        <input matInput type="text" name="busName" formControlName="busName" required>
        <mat-hint></mat-hint>
        <mat-error *ngIf="signupForm.get('busName').invalid">Name required</mat-error>
    </mat-form-field>

    <div formGroupName="address">
        <span class="mat-title">Address</span>
        <mat-form-field appearance="outline">
            <mat-label>Shop</mat-label>
            <input matInput type="text" name="shop" formControlName="shop" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="signupForm.get(['address', 'shop']).invalid">House required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Area</mat-label>
            <input matInput type="text" name="area" formControlName="area" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="signupForm.get(['address', 'area']).invalid">Area required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Landmark</mat-label>
            <input matInput type="text" name="landmark" formControlName="landmark" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="signupForm.get(['address', 'landmark']).invalid"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput type="text" name="city" formControlName="city" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="signupForm.get(['address', 'city']).invalid">City required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput type="text" name="state" formControlName="state" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="signupForm.get(['address', 'state']).invalid">State required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Pin</mat-label>
            <input matInput type="text" name="pin" formControlName="pin" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="signupForm.get(['address', 'pin']).invalid">unlike 6 digit number</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>GSTIN</mat-label>
        <input matInput type="text" name="gstin" formControlName="gstin" required>
        <mat-hint></mat-hint>
        <mat-error *ngIf="signupForm.get('gstin').invalid">unlike 12ABCDE3456F7G8</mat-error>
    </mat-form-field>

    <button mat-flat-button color="accent" value="submit" [disabled]="!signupForm.valid">Submit</button>
</form>

<!-- <p>Form Value: {{ signupForm.value | json }}</p>
<p>Form Status: {{ signupForm.status }}</p>

<p>{{ signupForm.get('fullName').invalid }}</p>
<p>{{ signupForm.get(['passwords', 'pass']).invalid }}</p>
<p>{{ signupForm.get(['passwords', 'reenter']).invalid }}</p>
<p>{{ signupForm.get('phone').invalid }}</p>
<p>{{ signupForm.get('dob').invalid }}</p>
<p>{{ signupForm.get('email').invalid }}</p>
<p>{{ signupForm.get('sex').invalid }}</p>
<p>{{ signupForm.get(['address', 'house']).invalid }}</p>
<p>{{ signupForm.get(['address', 'area']).invalid }}</p>
<p>{{ signupForm.get(['address', 'landmark']).invalid }}</p>
<p>{{ signupForm.get(['address', 'city']).invalid }}</p>
<p>{{ signupForm.get(['address', 'state']).invalid }}</p>
<p>{{ signupForm.get(['address', 'pin']).invalid }}</p> -->
