<h3>Welcome to Primorye</h3>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label>
        Name:
        <input type="text" name="fullName" formControlName="fullName">
    </label>
    <div formGroupName="passwords">
        <label>
            Password:
            <input type="password" name="pass" formControlName="pass">
        </label>
        <label>
            Re-enter Password:
            <input type="password" name="reenter" formControlName="reenter">
        </label>
    </div>
    <label>
        Phone:
        <input type="text" name="phone" formControlName="phone">
    </label>
    <label>
        Email:
        <input type="email" name="email" formControlName="email">
    </label>
    <div class="alert alert-warning">
        <span *ngIf="signupForm.get('email').invalid">Incorrect Format</span>
    </div>
    <label>
        Age:
        <input type="number" name="age" formControlName="age">
    </label>
    <label>
        Sex:
        <input type="radio" name="sex" formControlName="sex" value="m">
        Male
        <input type="radio" name="sex" formControlName="sex" value="f">
        Female
        <input type="radio" name="sex" formControlName="sex" value="o">
        Other
    </label>
    <div formGroupName="address">
        <h4>Address</h4>
        <label>
            House:
            <input type="text" name="house" formControlName="house">
        </label>
        <label>
            Area:
            <input type="text" name="area" formControlName="area">
        </label>
        <label>
            Landmark:
            <input type="text" name="landmark" formControlName="landmark">
        </label>
        <label>
            City:
            <input type="text" name="city" formControlName="city">
        </label>
        <label>
            State:
            <input type="text" name="state" formControlName="state">
        </label>
        <label>
            Pin:
            <input type="text" name="pin" formControlName="pin">
        </label>
    </div>
    <button value="submit" [disabled]="!signupForm.valid">Submit</button>
</form>

<p>Form Value: {{ signupForm.value | json }}</p>
<p>Form Status: {{ signupForm.status }}</p>

<p>{{ signupForm.get('fullName').invalid }}</p>
<p>{{ signupForm.get(['passwords', 'pass']).invalid }}</p>
<p>{{ signupForm.get(['passwords', 'reenter']).invalid }}</p>
<p>{{ signupForm.get('phone').invalid }}</p>
<p>{{ signupForm.get('age').invalid }}</p>
<p>{{ signupForm.get('email').invalid }}</p>
<p>{{ signupForm.get('sex').invalid }}</p>
<p>{{ signupForm.get(['address', 'house']).invalid }}</p>
<p>{{ signupForm.get(['address', 'area']).invalid }}</p>
<p>{{ signupForm.get(['address', 'landmark']).invalid }}</p>
<p>{{ signupForm.get(['address', 'city']).invalid }}</p>
<p>{{ signupForm.get(['address', 'state']).invalid }}</p>
<p>{{ signupForm.get(['address', 'pin']).invalid }}</p>
