<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="hamburger menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>
            <a class="top-link title" routerLink="">Primorye</a>
            <a class="top-link title" routerLink="seller">{{ dispSellers }}</a>
        </span>
        <span class="top-bar-spacer"></span>
        <span *ngIf="isLoggedIn()">
            <span>Welcome, {{ isLoggedIn() }}</span>
            <a routerLink="/cart" mat-icon-button aria-label="shopping cart">
                <mat-icon md-dark>shopping_cart</mat-icon>
            </a>
            <button (click)="logout()" mat-icon-button aria-label="logout">
                <mat-icon md-dark>logout</mat-icon>
            </button>
        </span>
        <span *ngIf="!isLoggedIn()">
            <a [routerLink]="dynaLink('signup')" mat-icon-button aria-label="signup">
                <mat-icon md-dark>person_add</mat-icon>
            </a>
            <a [routerLink]="dynaLink('login')" mat-icon-button aria-label="login">
                <mat-icon md-dark>login</mat-icon>
            </a>
        </span>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>
  