p {
    margin-top: 0%;
}

.top-bar-spacer {
    flex: 1 1 auto;
}

.top-bar-spacer-r {
    flex: 1 1 auto;
}

a.top-link {
    color: white;
    text-decoration: none;
}

.title {
    font-size: x-large;
}