<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="hamburger menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span><a routerLink="">Primorye</a></span>
        <span class="example-spacer"></span>
        <a routerLink="/cart" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>
  